---
import Link from '@components/ui/link.astro';
const { heading, subheading } = Astro.props;
---

<div class="relative isolate px-6 pt-10 lg:px-8 pb-28 rounded-lg bg-gray-800">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true"></div>
    <div class="mx-auto max-w-2xl">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"></div>
        </div>
        <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-white">{heading}</h1>
            <p class="mt-2 text-lg leading-8 text-gray-300">{subheading}</p>
        </div>
        <div class="flex items-center justify-center mt-5 space-x-2 flex-wrap">
            <Link
                href="/"
                class="flex items-center px-4 py-2 bg-white-800 text-black font-semibold rounded-s shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-200 active:bg-gray-200 my-1"
            >
                <span class="ml-1">TikTok Video</span>
            </Link>
            <Link
                href="/tiktok-sound-downloader"
                class="flex items-center px-8 py-2 bg-white bg-opacity-70 text-black font-semibold rounded-s shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100 hover:bg-opacity-80 active:bg-gray-200 my-1"
            >
                <span class="ml-1">MP3</span>
            </Link>
            <Link
                href="/tiktok-slideshow-downloader"
                class="flex items-center px-8 py-2 bg-white bg-opacity-70 text-black font-semibold rounded-s shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100 hover:bg-opacity-80 active:bg-gray-200 my-1"
            >
                <span class="ml-1">Photo</span>
            </Link>
            <Link
                href="/tiktok-story-downloader"
                class="flex items-center px-8 py-2 bg-white bg-opacity-70 text-black font-semibold rounded-s shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100 hover:bg-opacity-80 active:bg-gray-200 my-1"
            >
                <span class="ml-1">Story</span>
            </Link>
        </div>
        <div class="relative max-w-xl mx-auto mt-8">
            <div class="block items-center sm:space-x-4 sm:flex">
                <div class="relative flex-1">
                    <input
                        type="text"
                        placeholder="Paste your link here..."
                        class="w-full pr-12 pl-4 py-3 outline-none rounded-lg bg-gray-900 text-white placeholder-gray-500 transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                        style="box-shadow: 0 0 2px rgb(255, 255, 255) !important;"
                    />
                </div>
                <button
                    class="px-6 py-3 bg-gradient-to-r from-indigo-500 to-indigo-600 text-white font-semibold rounded-lg shadow-lg transition-all duration-300 hover:from-indigo-600 hover:to-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 outline-none
                    mt-2 sm:mt-0 w-full sm:w-auto"
                >
                    Download
                </button>
            </div>
        </div>
    </div>
</div>

<div class="bg-gradient-to-br py-16 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-4xl font-extrabold text-white text-center mb-12 shadow-text">Download Your Favorite Resolution Video</h2>
        <div class="flex flex-wrap justify-center gap-8">
            <div class="bg-gray-800 rounded-xl shadow-2xl overflow-hidden transform transition-all duration-300 w-96 xl:w-1/3">
                <div class="p-6">
                    <img
                        src="https://p16-sign.tiktokcdn-us.com/obj/tos-useast5-p-0068-tx/2c3a26ded6a94b4cbed9ef054ad93184_1725967888?lk3s=d05b14bd&nonce=50729&refresh_token=08040594917293fe340770bc98c834a6&x-expires=1726380000&x-signature=29sp64WW7%2FweDyZCZWwivWtmLNY%3D&s=AWEME_DETAIL&se=false&sh=&sc=dynamic_cover&l=2024091406065868CABA3744869B15DFD2&shp=d05b14bd&shcp=-"
                        alt="TikTok Video 3"
                        class="w-full h-full object-cover rounded-lg mb-6"
                    />
                    <h3 class="text-2xl font-semibold text-white text-center mb-4">علی محمد خان نے آج قوم کی ترجمانی کی ہے 🔥🔥 #khanlover1 #tranding #video #Grow #account @TikTok</h3>
                    <div class="space-y-3">
                        <a
                            href="#"
                            class="block w-full bg-gradient-to-r from-pink-500 to-purple-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-all duration-300 hover:from-pink-600 hover:to-purple-600 hover:shadow-lg"
                        >
                            Download Without Watermark
                        </a>
                        <a
                            href="#"
                            class="block w-full bg-gradient-to-r from-blue-500 to-indigo-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-all duration-300 hover:from-blue-600 hover:to-indigo-600 hover:shadow-lg"
                        >
                            Download Without Watermark (HD)
                        </a>
                        <a
                            href="#"
                            class="block w-full bg-gradient-to-r from-pink-500 to-red-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-all duration-300 hover:from-pink-600 hover:to-red-600 hover:shadow-lg"
                        >
                            Download Watermark
                        </a>
                        <a
                            href="#"
                            class="block w-full bg-gradient-to-r from-green-500 to-teal-500 text-white font-bold py-3 px-4 rounded-lg text-center transition-all duration-300 hover:from-green-600 hover:to-teal-600 hover:shadow-lg"
                        >
                            Download MP3 Audio
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .shadow-text {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .flex > div {
        align-self: flex-start;
    }
</style>

<script>
    import h from '../assets/js/s';

    const e = [
        77.0, 107.0, 126.0, 119.0, 38.0, 108.0, 118.0, 38.0, 107.0, 126.0, 128.0, 110.0, 108.0, 113.0, 106.0, 52.0, 38.0, 107.0, 126.0, 128.0, 110.0, 108.0, 113.0, 106.0, 38.0, 108.0, 118.0, 38.0,
        112.0, 114.0, 118.0, 119.0, 38.0, 115.0, 114.0, 122.0, 104.0, 117.0, 105.0, 120.0, 111.0, 38.0, 127.0, 120.0, 119.0, 38.0, 128.0, 114.0, 103.0, 104.0, 117.0, 38.0, 126.0, 117.0, 104.0, 38.0,
        113.0, 114.0, 119.0, 38.0, 126.0, 38.0, 107.0, 126.0, 128.0, 110.0, 104.0, 117.0, 52.0,
    ];
    const s = 10;
    const r = 6;

    console.log(h(e, s, r));
</script>
